{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1 class="page-title">Upload Payslips</h1>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="payslips" multiple required>
    <button type="submit">Upload</button>
</form>
{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    {% endfor %}
</div>
{% endif %}
<style> 
    .page-header {
    margin-bottom: 2rem;
  }
    .page-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-dark);
    margin: 0 0 0.5rem 0;
  }
</style>

{% endblock %}